.topText .topText__bground {
  padding: 20px;
  background-color: rgb(225, 225, 225);
  margin-bottom: 5px;
}

.topText h2 {
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-md);
  /* display: block; */
}

.topText .topText__image {
  /* max-width: 700px; */
  width: 100%;
  margin: 0 auto;
  display: block;
}

/* .topText .topText__image img {
  width: 100%;
} */

.topText .topText__image figcaption {
  font-size: 10px;
  display: flex;
}
